// Mixins Here

.naved() {

    padding-top: 20px;
    width: 40%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.naved-text() {
    font-size: 1.5rem;
    text-decoration: none;
}